<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
	<link type="text/css" rel="stylesheet" href="/bootstrap/css/main.css" />
	<title> KASware </title>
</head>

<body>
	<div class="container">
		
		<div class="row">

			<div class="col-md-3"> <h1 class="main-title"> KASware </h1></div>
			<!-- <div class="col-md-1">  </div> -->
			
			{% if theory %}
<!-- 				<div class="col-md-4"> <div class="score-title"> Today's Score: <a href=""> End Value </a>  = ? pts. |  <a href="/effort-report"> Smart Effort </a>  = {{todays_effort}} pts. </div></div> -->


				<div class="col-md-6"> 
					<div class="score-title"> Today's Score [ {{EndValue + SmartEffort - Stupidity}} ] = <a href=""> End Value [ {{EndValue}} ] </a> + <a href="/effort-report"> Smart Effort [ {{SmartEffort}} ] </a> - <a href=""> Stupidity [ {{Stupidity}} ] </a></div>
				</div>

				<div class="col-md-1">  </div>
				<div class="col-md-1"> <a href="" class="corner-link">{{theory.username}} </a> </div>			
				<div class="col-md-1"> <a href="/logout" class="corner-link"> (Logout) </a> </div>
				</div>

				<div class="row">
					<div class="col-md-12 respect-space"><a href="/TodaysMission">Today's Mission</a>     <a href="/Upcoming">Upcoming</a>     <a href="/SetViewer/KAS1">KAS1</a>     <a href="/SetViewer/KAS2">KAS2</a>     <a href="/SetViewer/KAS3">KAS3</a>     <a href="/SetViewer/KAS4">KAS4</a>     <a href="/BigOViewer">Big Os</a>     <a href="/SetViewer/ImPe">People</a>
					</div>
				</div>


			{% else %}
				<div class="col-md-7"> </div>
				<div class="col-md-1"> <a href="/login" class="corner-link"> Login </a> </div>
				<div class="col-md-1"> <a href="/signup" class="corner-link"> (Signup) </a> </div>
				</div>
			{% endif %}
					
		

		{% block content %}
		{% endblock %}

		<br><br><br>
	
		<div class="row">

			<div class="col-md-12 copywright-message"> What Would You Have To Do To Live The Best Life You Could Live? </div>
		</div>
		<br><br><br>
	</div>




</body>
</html>