{% extends "base.html" %}

{% block content %}

<div class="row">
	<div class="col-xs-7"> <div class="section-title">{{viewer_details['set_title']}}</div></div>

	<div class="col-xs-1"> </div>
	
		
	<div class="col-xs-4">
		<form class="form-horizontal" method="post">
			<input type="text" class="form-control hidden" name="ksu_id" value="KAS1_1">
		  	<button type="submit" class="btn btn-success btn-lg respect-space new-ksu-button" name="action_description" value="Done">Add nonspecific End Value event</button>
		</form>	
	</div>

	

</div>

<br>


<!-- Field Headers -->


<div class="row">
	<div class="col-xs-1"></div>
	{% for a in viewer_details['attributes'] %}
		<div class="col-xs-{{viewer_details['columns'][a]}}">  <div class="field-header">  {{viewer_details['fields'][a]}} </div> </div>
	{% endfor %}
</div>


<hr class="thick-hr-1px">


{% for group in viewer_details['grouping_list']  %}

	<div class="row">
		<div class="col-xs-12"> <div class="section-group-title"> {{group[1]}} </div></div>
	</div>

<!-- Rows. One per KSU -->

	{% for ksu in ksu_set %}

		{% if ksu[viewer_details['grouping_attribute']] == group[0] %}

			<div class="row">

				<div class="col-xs-1">
					<form class="form-horizontal" method="post">
						<input type="text" class="form-control hidden" name="ksu_id" value="{{ksu['id']}}"> 
					  	<button type="submit" class="btn btn-primary btn-sm" name="action_description" value="EditKSU"> Edit </button>
					</form>	
				</div>



				{% for a in viewer_details['attributes'] %}
					<div class="col-xs-{{viewer_details['columns'][a]}}">  {% if ksu[a] %} {{ksu[a]}} {% endif %} </div>
				{% endfor %}	


			

				<div class="col-xs-1">
					<form class="form-horizontal" method="post">	
						<input type="text" class="form-control hidden" name="ksu_id" value="{{ksu['id']}}">					  	
					  	<button type="submit" class="btn btn-primary btn-md" name="action_description" value="Add_To_Mission"> To Mission </button>										
					</form>	
				</div>
				
				<div class="col-xs-1"> </div>

				<div class="col-xs-1">
					<form class="form-horizontal" method="post">	
						<input type="text" class="form-control hidden" name="ksu_id" value="{{ksu['id']}}">					  	
						<button type="submit" class="btn btn-success btn-md respect-space" name="action_description" value="Done">Experienced</button>					
					</form>	
				</div>


			</div>
			<hr>

		{% endif %}

	{% endfor %}

{% endfor %}


{% endblock %}