{% extends "base.html" %}

{% block content %}
<br><br>	
<div class="row"> 
	
	<div class="col-md-12"> <div class="title-question"> What would you have to do to live the happiest life you could live? </div> </div>
	
	<br><br><br><br>
	<div class="col-md-12"> <div class="title-question"> ¿Qué es lo que tú tendrías que hacer para vivir la vida más feliz que tú podrías vivir? </div> </div>

	<br><br><br><br>
	<div class="col-md-12"> <div class="title-question"> 请问您需要做的活，你能过得最幸福的生活？</div> </div>

	<br><br><br><br>
	<div class="col-md-12"> <div class="title-question"> O que você tem que fazer para viver a vida mais feliz você poderia viver ?</div> </div>

	<br><br><br><br>
	<div class="col-md-12"> <div class="title-question"> Que voulez-vous faire pour vivre la vie la plus heureuse que vous pourriez vivre ?</div> </div>

	<br><br><br><br>
	<div class="col-md-12"> <div class="title-question"> Was würden Sie tun, um die glücklichste Leben, das Sie leben zu leben?</div> </div>




</div>


{% endblock %}