{% extends "base.html" %}

{% block content %}

<div class="row">
	<div class="col-md-12"> <h3>Add Important Person</h3></div>
</div>
	

<form class="form-horizontal">
 
	<div class="form-group">

		<div class="col-md-3">
			<label> Name </label>
			<input type="text" class="form-control" name="important_person_name" placeholder="Person's Name">
		</div>

		<div class="col-md-2">
			<label> Contact Frequency </label>
			<input type="text" class="form-control" name="frequency" placeholder="e.g. 7 (days)">
		</div>

<!-- 		<div class="col-md-2">
			<label> Social Group </label>
			<input type="text" class="form-control" name="" placeholder="e.g. Family">
		</div>
  	
		<div class="col-md-4">
			<label> Comments </label>
			<textarea class="form-control" name="" placeholder="Additional usefull information"> </textarea> 
		</div>
 -->
		<div class="col-md-1">
		  	<button type="submit" class="btn btn-primary btn-lg">Add</button>
		</div>		

	</div>

</form>


<hr>





{% endblock %}