{% extends "base.html" %}

{% block content %}

<div class="row">
	<div class="col-md-12"> <h3>Add Important Person</h3></div>
</div>
	

<form class="form-horizontal" method="post">
 
	<div class="form-group">

		<div class="col-md-3">
			<label> Name </label>
			<input type="text" class="form-control" name="important_person_name" placeholder="Person's Name">
		</div>

		<div class="col-md-2">
			<label> Contact Frequency </label>
			<input type="text" class="form-control" name="frequency" placeholder="e.g. 7 (days)">
		</div>


		<div class="col-md-1">
		  	<input type="submit" class="btn btn-primary btn-lg" value="Add">
		</div>		

	</div>

</form>


<hr>

<div class="row">
	<div class="col-md-12"> <h3>Today's Mission</h3></div>
</div>

{% for e in mission %}

	<div class="row">
		<div class="col-md-12"> <h5> {{e['description']}} </h5></div>
	</div>

{% endfor %}

<hr>

<div class="row">
	<div class="col-md-12"> <h3>My Important People</h3></div>
</div>

{% for p in people %}

	<div class="row">
		<div class="col-md-2"> <h5> {{p['x_person_name']}} </h5></div>
		<div class="col-md-1"> <h5> {{p['frequency']}} </h5></div>
		<div class="col-md-1"> <h5> {{p['next_exe']}} </h5></div>

	</div>

{% endfor %}





{% endblock %}