{% extends "base.html" %}

{% block content %}

<div class="row">
	<div class="col-md-12"> <h3>Add Important Person</h3></div>
</div>

<div class="row"> <div class="col-md-12"> <div class="blank-row-md"></div></div></div>	

<form class="form-horizontal" method="post">
 
	<div class="form-group">

		<div class="col-md-3">
			<label> Name </label>
			<input type="text" class="form-control" name="person_name" placeholder="Person's Name">
		</div>

		<div class="col-md-2">
			<label> Contact Frequency </label>
			<input type="text" class="form-control" name="contact_frequency" placeholder="e.g. 7 (days)">
		</div>


		<div class="col-md-1">
		  	<input type="submit" class="btn btn-primary btn-lg" value="Add">
		</div>		

	</div>

</form>


<hr class="thick-hr-2px">

<div class="row">
	<div class="col-md-12"> <h3>My Important People</h3></div>
</div>

<div class="row"> <div class="col-md-12"> <div class="blank-row-md"></div></div></div>


<div class="row">
	<div class="col-md-3">  <div class="field-header">  Name </div> </div>
	<div class="col-md-1">  <div class="field-header"> Freq. </div> </div>
	<div class="col-md-1">  <div class="field-header"> Last C.</div> </div>
	<div class="col-md-1">  <div class="field-header"> Next C. </div> </div>
	<div class="col-md-3">  <div class="field-header"> Comments </div> </div>

</div>

<hr class="thick-hr-1px">


{% for p in people %}

	<div class="row">
		<div class="col-md-3"> {{p['name']}}</div>
		<div class="col-md-1"> {{p['contact_frequency']}} </div>
		<div class="col-md-1"> {% if p['last_contact'] %} {{p['last_contact']}} {% endif %} </div>
		<div class="col-md-1"> {{p['next_contact']}} </div>
		<div class="col-md-3"> {% if p['comments'] %} {{p['comments']}} {% endif %} </div>

	</div>
	<hr>

{% endfor %}





{% endblock %}