{% extends "base.html" %}

{% block content %}




<div class="row">
	<div class="col-md-12"> <h2> {{ title + "  " + ksu['id'] + " in " +  set_name}} </h2></div>
</div>

<br>


<form class="form-horizontal" method="post">

	<input type="text" class="form-control hidden" name="ksu_id" value="{{ksu['id']}}">



{% if set_name == 'KAS1' %}
 
	<div class="form-group">
		<div class="col-md-12"> 
			<label> Action Description </label>
			<input type="text" class="form-control tile-ksu-edit" name="description" placeholder="e.g. Hacer algo nice por mi chica" required value="{% if ksu['description']%}{{ksu['description']}}{% endif %}">
		</div>
	</div>



	<div class="form-group">

		<div class="col-md-2">
			<label>Value Type </label>
				<select class="form-control" name="value_type">
				{% for value in constants['l_Values'] %}
					{% if value[0] == ksu['value_type'] %}
					<option selected="selected" value="{{value[0]}}"> {{value[1]}} </option>
					{% else %}
					<option value="{{value[0]}}"> {{value[1]}} </option>
					{% endif %}
				{% endfor %}
			</select>
		</div>	


		<div class="col-md-2"> 
			<label> Expected Impact </label> 
			<select class="form-control" name="importance"> 
				{% for i in constants['l_Fibonacci'] %}
					{% if i == ksu['importance'] %}
						<option selected="selected">{{i}}</option>
					{% else %}		
						<option> {{i}} </option>
					{% endif %}
				{% endfor %}
					
			</select>
		</div>


		<div class="col-md-2"> 
			<label> Expected Duration </label>
			<select class="form-control" name="time_cost">
				{% for t in constants['l_Fibonacci'] %}
					{% if t == ksu['time_cost']  %}
						<option selected="selected">{{t}}</option>
					{% else %}
						<option> {{t}} </option>
					{% endif %}
				{% endfor %}
			</select>
		</div>
	
		<div class="col-md-2">
			<label> Charging Time (Days) </label>
			<input type="text" class="form-control" name="frequency" placeholder="e.g. 7" required value="{% if ksu['charging_time']%}{{ksu['charging_time']}}{% endif %}">
		</div>


		<div class="col-md-2">
	 		<div class="checkbox"> 
	 			<label> <input type="checkbox" name="in_upcoming"{% if ksu['in_upcoming']%}checked{% endif %}> <b> Show in Mission </b> </label> 
	 		</div>
		
	 		<div class="checkbox"> 
	 			<label> <input type="checkbox" name="any_any"{% if ksu['any_any']%}checked{% endif %}> <b> Anywhere Anytime </b> </label> 
	 		</div>

		</div>

	 	<div class="col-md-2">
	 		<div class="checkbox"> 
	 			<label> <input type="checkbox" name="is_critical" {% if ksu['is_critical']%}checked{% endif %}> <b> Is Critical </b> </label> 
	 		</div>

	 		<div class="checkbox"> 
	 			<label> <input type="checkbox" name="is_private"{% if ksu['is_private']%}checked{% endif %}> <b> Is Private </b> </label> 
	 		</div>
		</div>
	</div>


	<div class="form-group">
		
		<div class="col-md-2">
			<label> Prefered Day </label>
				<select class="form-control" name="best_day">
					{% for d in constants['l_Days'] %}
						{% if d[0] == ksu['best_day'] %}
							<option value="{{d[0]}}" selected="selected"> {{d[1]}} </option>
						{% else %}
							<option value="{{d[0]}}"> {{d[1]}} </option>
						{% endif %}
					{% endfor %}
				</select> 
		</div>

		<div class="col-md-2">
			<label> Preferred Time (24hrs.)</label>
			<input type="text" class="form-control" name="best_time" placeholder="00:00">
		</div>
	

		<div class="col-md-2">
			<label> Last Event </label>
			<input type="text" class="form-control" name="last_event" placeholder="DD-MM-YYYY" value="{% if ksu['last_event']%}{{ksu['last_event']}}{% endif %}">
		</div>

		<div class="col-md-2">
			<label> Next Event </label>
			<input type="text" class="form-control" name="next_event" placeholder="DD-MM-YYYY" value="{% if ksu['next_event']%}{{ksu['next_event']}}{% endif %}">
		</div>



	</div>


{% endif %}


{% if set_name == 'KAS2' %}
 
	<div class="form-group">
		<div class="col-md-12"> 
			<label> Action Description <span class="red">*</span> </label>
			<input type="text" class="form-control tile-ksu-edit" name="description" placeholder="e.g. Make a dentist apointment" required value="{% if ksu['description']%}{{ksu['description']}}{% endif %}">
		</div>
	</div>



	<div class="form-group">

		<div class="col-md-2">
			<label>Expected Value Type <span class="red">*</span> </label>
				<select class="form-control" name="value_type">
				{% for value in constants['l_Values'] %}
					{% if value[0] == ksu['value_type'] %}
					<option selected="selected" value="{{value[0]}}"> {{value[1]}} </option>
					{% else %}
					<option value="{{value[0]}}"> {{value[1]}} </option>
					{% endif %}
				{% endfor %}
			</select>
		</div>	

		<div class="col-md-2">
			<label> Event Date <span class="red">*</span> </label>
			<input type="text" class="form-control" name="next_event" placeholder="DD-MM-YYYY" value="{% if ksu['next_event']%}{{ksu['next_event']}}{% endif %}"required>
		</div>


		<div class="col-md-2">
			<label> Preferred Time (24hrs.)</label>
			<input type="text" class="form-control" name="best_time" placeholder="00:00">
		</div>
	
		<div class="col-md-2">
	 		<div class="checkbox"> 
	 			<label> <input type="checkbox" name="in_upcoming"{% if ksu['in_upcoming']%}checked{% endif %}> <b> Show in Mission </b> </label> 
	 		</div>
		
	 		<div class="checkbox"> 
	 			<label> <input type="checkbox" name="any_any"{% if ksu['any_any']%}checked{% endif %}> <b> Anywhere Anytime </b> </label> 
	 		</div>

		</div>

	 	<div class="col-md-2">
	 		<div class="checkbox"> 
	 			<label> <input type="checkbox" name="is_critical" {% if ksu['is_critical']%}checked{% endif %}> <b> Is Critical </b> </label> 
	 		</div>

	 		<div class="checkbox"> 
	 			<label> <input type="checkbox" name="is_private"{% if ksu['is_private']%}checked{% endif %}> <b> Is Private </b> </label> 
	 		</div>
		</div>


	</div>


	<div class="form-group">
		
		<div class="col-md-2"> 
			<label> Expected Impact <span class="red">*</span> </label> 
			<select class="form-control" name="importance"> 
				{% for i in constants['l_Fibonacci'] %}
					{% if i == ksu['importance'] %}
						<option selected="selected">{{i}}</option>
					{% else %}		
						<option> {{i}} </option>
					{% endif %}
				{% endfor %}
					
			</select>
		</div>


		<div class="col-md-2"> 
			<label> Expected Duration <span class="red">*</span> </label>
			<select class="form-control" name="time_cost">
				{% for t in constants['l_Fibonacci'] %}
					{% if t == ksu['time_cost']  %}
						<option selected="selected">{{t}}</option>
					{% else %}
						<option> {{t}} </option>
					{% endif %}
				{% endfor %}
			</select>
		</div>


		<div class="col-md-4">
			<label> Mini Objective (if any) </label>
			<input type="text" class="form-control" name="project" placeholder="Optional" value="{% if ksu['project']%}{{ksu['project']}}{% endif %}">
		</div>

	</div>



	
{% endif %}



{% if set_name == 'KAS3' %}
 



	<div class="form-group">
		<div class="col-md-12"> 
			<label> Target Reaction </label>
			<input type="text" class="form-control tile-ksu-edit" name="description" placeholder="e.g. Keep cool and stay calmed" required value="{% if ksu['description']%}{{ksu['description']}}{% endif %}">
		</div>
	</div>


	<div class="form-group">
		<div class="col-md-8">
			<label> Possible Circusmtances </label>
			<textarea class="form-control" name="circumstance">{% if ksu['circumstance']%}{{ksu['circumstance']}}{% endif %}</textarea> 
		</div>

	 	<div class="col-md-2">
	 		<div class="checkbox"> 
	 			<label> <input type="checkbox" name="is_critical" {% if ksu['is_critical']%}checked{% endif %}> <b> Is Critical </b> </label> 
	 		</div>

	 		<div class="checkbox"> 
	 			<label> <input type="checkbox" name="is_private"{% if ksu['is_private']%}checked{% endif %}> <b> Is Private </b> </label> 
	 		</div>
		</div>

	</div>



	<div class="form-group">
		
		<div class="col-md-2">
			<label>Value Type</label>
				<select class="form-control" name="value_type">
				{% for value in constants['l_Values'] %}
					{% if value[0] == ksu['value_type'] %}
						<option selected="selected" value="{{value[0]}}"> {{value[1]}} </option>
					{% else %}
						<option value="{{value[0]}}"> {{value[1]}} </option>
					{% endif %}
				{% endfor %}
			</select>
		</div>


		<div class="col-md-2"> 
			<label> Expected Impact </label> 
			<select class="form-control" name="importance"> 
				{% for i in constants['l_Fibonacci'] %}
					{% if i == ksu['importance'] %}
						<option selected="selected">{{i}}</option>
					{% else %}		
						<option> {{i}} </option>
					{% endif %}
				{% endfor %}
					
			</select>
		</div>

	</div>

{% endif %}



{% if set_name == 'KAS4' %}
 

	<div class="form-group">
		<div class="col-md-12"> 
			<label> Action to Avoid </label>
			<input type="text" class="form-control tile-ksu-edit" name="description" placeholder="e.g. Procastinate" required value="{% if ksu['description']%}{{ksu['description']}}{% endif %}">
		</div>
	</div>


	<div class="form-group">
		<div class="col-md-8">
			<label> Dangerous Circusmtances & Potential Reactions </label>
			<textarea class="form-control" name="circumstance">{% if ksu['circumstance']%}{{ksu['circumstance']}}{% endif %}</textarea> 
		</div>

	 	<div class="col-md-2">
	 		<div class="checkbox"> 
	 			<label> <input type="checkbox" name="is_critical" {% if ksu['is_critical']%}checked{% endif %}> <b> Is Critical </b> </label> 
	 		</div>

	 		<div class="checkbox"> 
	 			<label> <input type="checkbox" name="is_private"{% if ksu['is_private']%}checked{% endif %}> <b> Is Private </b> </label> 
	 		</div>
		</div>

	</div>


	<div class="form-group">
		
		<div class="col-md-2">
			<label>Value Type</label>
				<select class="form-control" name="value_type">
				{% for value in constants['l_Values'] %}
					{% if value[0] == ksu['value_type'] %}
						<option selected="selected" value="{{value[0]}}"> {{value[1]}} </option>
					{% else %}
						<option value="{{value[0]}}"> {{value[1]}} </option>
					{% endif %}
				{% endfor %}
			</select>
		</div>


		<div class="col-md-2"> 
			<label> Expected Impact </label> 
			<select class="form-control" name="importance"> 
				{% for i in constants['l_Fibonacci'] %}
					{% if i == ksu['importance'] %}
						<option selected="selected">{{i}}</option>
					{% else %}		
						<option> {{i}} </option>
					{% endif %}
				{% endfor %}
					
			</select>
		</div>
	</div>

{% endif %}



{% if set_name == 'BigO' %}
 
	<div class="form-group">
		<div class="col-md-12"> 
			<label> Objective Description <span class="red">*</span> </label>
			<input type="text" class="form-control tile-ksu-edit" name="description" placeholder="e.g. Find an awesome girlfrind" required value="{% if ksu['description']%}{{ksu['description']}}{% endif %}">
		</div>
	</div>


	<div class="form-group">

		<div class="col-md-2">
			<label>Expected Value Type <span class="red">*</span> </label>
				<select class="form-control" name="value_type">
				{% for value in constants['l_Values'] %}
					{% if value[0] == ksu['value_type'] %}
						<option selected="selected" value="{{value[0]}}"> {{value[1]}} </option>
					{% elif value[0] != 'V000' %}
						<option value="{{value[0]}}"> {{value[1]}} </option>
					{% endif %}
				{% endfor %}
			</select>
		</div>	


		<div class="col-md-2"> 
			<label> Achievement Value <span class="red">*</span> </label> 
			<select class="form-control" name="Achievement_Value"> 
				{% for i in constants['l_Fibonacci'] %}
					{% if i == ksu['Achievement_Value'] %}
						<option selected="Achievement_Value">{{i}}</option>
					{% else %}		
						<option> {{i}} </option>
					{% endif %}
				{% endfor %}
					
			</select>
		</div>

		<div class="col-md-2">
			<label> Target Date <span class="red">*</span></label>
			<input type="text" class="form-control" name="target_date" placeholder="DD-MM-YYYY" value="{% if ksu['target_date']%}{{ksu['target_date']}}{% endif %}" required>
		</div>

	
		<div class="col-md-2">
	 		<div class="checkbox"> 
	 			<label> <input type="checkbox" name="is_milestone"{% if ksu['is_milestone']%}checked{% endif %}> <b> Life Milestone </b> </label> 
	 		</div>	
		</div>

	 	<div class="col-md-2">
	 		<div class="checkbox"> 
	 			<label> <input type="checkbox" name="is_critical" {% if ksu['is_critical']%}checked{% endif %}> <b> Is Critical </b> </label> 
	 		</div>

	 		<div class="checkbox"> 
	 			<label> <input type="checkbox" name="is_private"{% if ksu['is_private']%}checked{% endif %}> <b> Is Private </b> </label> 
	 		</div>
		</div>


	</div>

	
{% endif %}





{% if set_name == 'BOKA' %}
 
	<div class="form-group">
		<div class="col-md-12"> 
			<label> Action Description <span class="red">*</span> </label>
			<input type="text" class="form-control tile-ksu-edit" name="description" placeholder="e.g. Define work plan" required value="{% if ksu['description']%}{{ksu['description']}}{% endif %}">
		</div>
	</div>



	<div class="form-group">

		

		<div class="col-md-2"> 
			<label> Priority <span class="red">*</span> </label> 
			<select class="form-control" name="priority"> 
				{% for i in ['1','2','3','4','5','6','7'] %}
					{% if i == ksu['priority'] %}
						<option selected="selected">{{i}}</option>
					{% else %}		
						<option> {{i}} </option>
					{% endif %}
				{% endfor %}					
			</select>
		</div>


		<div class="col-md-2"> 
			<label> Expected Impact <span class="red">*</span> </label> 
			<select class="form-control" name="importance"> 
				{% for i in constants['l_Fibonacci'] %}
					{% if i == ksu['importance'] %}
						<option selected="selected">{{i}}</option>
					{% else %}		
						<option> {{i}} </option>
					{% endif %}
				{% endfor %}
					
			</select>
		</div>


		<div class="col-md-2"> 
			<label> Expected Duration <span class="red">*</span> </label>
			<select class="form-control" name="time_cost">
				{% for t in constants['l_Fibonacci'] %}
					{% if t == ksu['time_cost']  %}
						<option selected="selected">{{t}}</option>
					{% else %}
						<option> {{t}} </option>
					{% endif %}
				{% endfor %}
			</select>
		</div>
	
		<div class="col-md-2">
	 		<div class="checkbox"> 
	 			<label> <input type="checkbox" name="in_upcoming"{% if ksu['in_upcoming']%}checked{% endif %}> <b> Show in Mission </b> </label> 
	 		</div>
		
	 		<div class="checkbox"> 
	 			<label> <input type="checkbox" name="any_any"{% if ksu['any_any']%}checked{% endif %}> <b> Anywhere Anytime </b> </label> 
	 		</div>

		</div>

	 	<div class="col-md-2">
	 		<div class="checkbox"> 
	 			<label> <input type="checkbox" name="is_critical" {% if ksu['is_critical']%}checked{% endif %}> <b> Is Critical </b> </label> 
	 		</div>

	 		<div class="checkbox"> 
	 			<label> <input type="checkbox" name="is_private"{% if ksu['is_private']%}checked{% endif %}> <b> Is Private </b> </label> 
	 		</div>
		</div>


	</div>


	<div class="form-group">


		<div class="col-md-2">
			<label> Target Date </label>
			<input type="text" class="form-control" name="next_event" placeholder="DD-MM-YYYY" value="{% if ksu['next_event']%}{{ksu['next_event']}}{% endif %}">
		</div>


		<div class="col-md-2">
			<label> Preferred Time (24hrs.)</label>
			<input type="text" class="form-control" name="best_time" placeholder="00:00">
		</div>

	</div>

	
{% endif %}









{% if set_name == 'ImPe' %}
	
	<div class="form-group">

		<div class="col-md-6"> 
			<label> Person Name </label>
			<input type="text" class="form-control tile-ksu-edit" name="description" placeholder="e.g. Steve Jobs" required value="{% if ksu['description']%}{{ksu['description']}}{% endif %}">
		</div>


		<div class="col-md-2"><label> Contact Frequency </label>
			<input type="text" class="form-control" name="contact_frequency" placeholder="e.g. 7" required value="{% if ksu['contact_frequency']%}{{ksu['contact_frequency']}}{% endif %}">
		</div>

	</div>

	<div class="form-group">
		<div class="col-md-8">
			<label> Fun Facts </label>
			<textarea class="form-control" name="fun_facts">{% if ksu['fun_facts']%}{{ksu['fun_facts']}}{% endif %}</textarea> 
		</div>

	</div>

{% endif %}



	<div class="form-group">
		<div class="col-md-6">
			<label> Comments </label>
			<textarea class="form-control" name="comments">{% if ksu['comments']%}{{ksu['comments']}}{% endif %}</textarea> 
		</div>

		<div class="col-md-4">
			<label> Tags (Please separete using pipes) </label>
			<input type="text" class="form-control" name="local_tags" placeholder="Tag|Tag|Tag" value="{% if ksu['local_tags']%}{{ksu['local_tags']}}{% endif %}">
		</div>

	</div>


	{% if title=='Create' %}
	  	<div class="form-group">
			<div class="col-md-2"> <button type="submit" class="btn btn-success btn-lg respect-space" name="action_description" value="Create">   Create   </button> </div>	
			<div class="col-md-2"> <button type="submit" class="btn btn-danger btn-lg  respect-space" name="action_description" value="Discard">  Discard  </button> </div>
		</div>
	{% endif%}


	{% if title=='Edit' %}
	  	<div class="form-group">
			<div class="col-md-2"> <button type="submit" class="btn btn-success btn-lg respect-space" name="action_description" value="Save">   Save Changes   </button> </div>	
			<div class="col-md-2"> <button type="submit" class="btn btn-warning btn-lg  respect-space" name="action_description" value="Discard"> Discard Changes </button> </div>
			<div class="col-md-2"><button type="submit" class="btn btn-danger btn-lg  respect-space" name="action_description" value="Delete">    Delete KSU     </button></div>
		</div>

	{% endif%}

	

</form>

{% if input_error %}

<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4 error"> {{input_error}}</div>
	<div class="col-md-4"></div>
	
</div>
{% endif %}


{% endblock %}